/out
bin/
build/
/.vs
.idea/
CMakeSettings.json
Makefile
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
/cmake-build-relwithdebinfo-visual-studio/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-relwithdebinfo/
